/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  /* portfolio project variables */
  --navbar-toggle-size: 3rem;
  --navbar-toggle-button-size: 1.25rem;
  --gradient: linear-gradient(90deg, hsla(259, 84%, 78%, 1) 0%, hsla(206, 67%, 75%, 1) 100%);

  /* @keyframes gradient-text {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  } */
}

/* semantic color variables for this project */
/* :root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

:root[color-theme="light"] {
  --surface1: #fef9f3;
  --surface2: #fefbf7;
  --surface3: #ffffff;

  --text: #252323;
  --text-grey: #4c4c4c;

  --textInverse: #fef9f3;
  --surfaceInverse: #252323;
  --surfaceInverseHover: #252323b8;

  --theme-icon-color-light: #202256; /* TODO: coolors */
  --theme-icon-bg-light: #b8b9e3; /* TODO: coolors */
  --theme-icon-color-intense: #1a1fa3; /* TODO: coolors */
}

:root[color-theme="dark"] {
  color-scheme: dark;
  --surface1: #100F0F;
  /* --surface1: #252323; */
  --surface2: #1d1d1d;
  /* --surface2: #383535; */
  --surface3: #212121;
  /*--surface3: #3D3A3A; */

  --text: #fefbf7;
  --text-grey: #bfbfbf; /* #c3c3c3; */
  
  --textInverse: #252323;
  --surfaceInverse: #fef9f3;
  --surfaceInverseHover: #fef9f3e1;

  --theme-icon-color-light: #ddc23c;
  --theme-icon-bg-light: #525041;
  --theme-icon-color-intense: #e6c000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--text);
  background: var(--surface1);
  margin: 0;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
